<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center margin-top">EXPERIÊNCIAS</h1>
      <hr class="line-title-white">
      <br>
    </div>
    <ng-container *ngIf="!loading">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <button (click)="changeModal(false)" class="btn" data-toggle="modal"
          data-target="#addTimelineExperience">ADICIONAR
          <em class="fas fa-plus icon"></em></button>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!loading">
    <br>
  </ng-container>

  <ng-container *ngIf="loading; else elseLoading">
    <div class="text-center">
      <app-lds-facebook></app-lds-facebook>
    </div>
  </ng-container>
  <ng-template #elseLoading>
    <div class="row font-black">
      <ng-container *ngFor="let timeline of timelines">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <em (click)="getExperience(timeline.id)" class="far fa-trash-alt red cursor-pointer float-right tools"
                data-toggle="modal" data-target="#addTimelineExperience"></em>
              <em (click)="getExperience(timeline.id)" (click)="changeModal(true)" data-toggle="modal"
                data-target="#addTimelineExperience" class="fas fa-pen dark-blue cursor-pointer float-right tools"></em>
              <div class="d-flex">
                <img [src]="timeline.url | hasImage" class="company-img" alt="Imagem da empresa">
                <span>{{ timeline.date }} <br> <strong>{{ timeline.company }}</strong> <br>
                  {{ timeline.description }}</span>
              </div>
            </div>
          </div>
          <br>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- Timeline add modal -->
  <div class="modal fade font-black" id="addTimelineExperience" tabindex="-1" role="dialog"
    aria-labelledby="addTimelineExperience" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTimelineExperienceLabel">{{ modalTitle }}</h5>
          <em class="fas fa-times close-modal cursor-pointer" data-dismiss="modal"></em>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pt-tab" data-toggle="tab" href="#pt" role="tab" aria-controls="pt"
                aria-selected="true">
                <img src="../../../assets/images/brasil.png" alt="" class="br-flag" as="image">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en"
                aria-selected="false">
                <img src="../../../assets/images/eua.png" alt="" class="eua-flag" as="image">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="images-tab" data-toggle="tab" href="#image" role="tab" aria-controls="images"
                aria-selected="false">Foto de perfil &nbsp;&nbsp;
                <em class="fas fa-images"></em>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pt" role="tabpanel" aria-labelledby="pt-tab">
              <br>
              <form>
                <div class="form-group">
                  <label>Data </label>
                  <input [(ngModel)]="date" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Data">
                </div>
                <div class="form-group">
                  <label>Empresa </label>
                  <input [(ngModel)]="company" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Empresa">
                </div>
                <div class="form-group">
                  <label>Descrição </label>
                  <input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Descrição">
                </div>
                <div class="form-group">
                  <label>Url </label>
                  <input [(ngModel)]="url" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Url">
                </div>
              </form>
            </div>
            <div class="tab-pane fade show" id="en" role="tabpanel" aria-labelledby="pt-tab">
              <br>
              <form>
                <div class="form-group">
                  <label>Data </label>
                  <input [(ngModel)]="dateEn" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Data">
                </div>
                <div class="form-group">
                  <label>Empresa </label>
                  <input [(ngModel)]="companyEn" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Empresa">
                </div>
                <div class="form-group">
                  <label>Descrição </label>
                  <input [(ngModel)]="descriptionEn" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control input-modify" placeholder="Descrição">
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="images-tab">
              <form>
                <br>
                <div class="custom-file">
                  <input (change)="handleFileInput($event.target.files)" type="file" class="custom-file-input"
                    id="customFile">
                  <label class="custom-file-label" for="customFile">
                    <small *ngIf="fileToUpload">{{ fileName }}</small></label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <ng-container *ngIf="!isEdit; else elseEdit">
          <div class="modal-footer">
            <button (click)="add()" type="button" class="btn" data-dismiss="modal">ADICIONAR</button>
          </div>
        </ng-container>
        <ng-template #elseEdit>
          <div class="modal-footer">
            <button (click)="edit()" type="button" class="btn" data-dismiss="modal">SALVAR</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- Timeline add modal -->

</div>