<app-parallax></app-parallax>
<div class="light-gray-bg font">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 rel="preload" as="fetch" class="text-center pink margin-top">{{ "global.services" | translate | uppercase }}
        </h1>
        <hr class="line-title">
        <br>
      </div>
    </div>
    <ng-container *ngIf="loading; else elseLoading">
      <div class="row text-center">
        <div class="col-12">
          <app-lds-facebook-blue></app-lds-facebook-blue>
        </div>
      </div>
    </ng-container>
    <ng-template #elseLoading>
      <div class="row">
        <div *ngFor="let project of projects" class="col-lg-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6 truncate">
                  <ng-container *ngIf="getLanguage() == 'en_US'; else elseEnglish">
                    {{ project.title }}
                  </ng-container>
                  <ng-template #elseEnglish>
                    {{ project.titleEn }}
                  </ng-template>
                </div>
                <div class="col-6">
                  <em (click)="getProject(project)"
                    class="fas fa-info-circle info dark-blue cursor-pointer jello-horizontal" data-toggle="modal"
                    data-target="#modalInformations"></em>
                </div>
              </div>
            </div>
            <a [href]="project.url" [class.none-events]="project.url == null" target="_blank">
              <img class="posts cursor-pointer" [src]="project.urlCover | hasImage" [alt]="project.title">
            </a>
          </div>
          <br>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<!-- Posts modal -->
<ng-container *ngIf="!loading">
  <div class="modal project-modal fade font-black" id="modalInformations" tabindex="-1" role="dialog"
    aria-labelledby="modalInformationsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered project-modal modal-lg" role="document">
      <div class="modal-content project-modal">
        <div class="modal-header project-modal dark-blue-bg font-color">
          <h5 class="modal-title" id="modalInformationsLabel">
            <ng-container *ngIf="getLanguage() == 'pt_BR'; else elseTitleEnglish">
              {{ title }}
            </ng-container>
            <ng-template #elseTitleEnglish>
              {{ titleEn }}
            </ng-template>
          </h5>
          <em class="fas fa-times close-modal cursor-pointer" data-dismiss="modal"></em>
        </div>
        <div class="modal-body project-modal">
          <p>
            <ng-container *ngIf="getLanguage() == 'pt_BR'; else elseDescriptionEnglish">
              {{ description }}
            </ng-container>
            <ng-template #elseDescriptionEnglish>
              {{ descriptionEn }}
            </ng-template>
          </p>
          <ng-container *ngFor="let image of images; let i = index;">
            <div>
              <div class="zoom">
                <img (click)="getImage(image.url)" class="posts images zoon-in" [src]="image.url"
                  alt="Imagem do projeto" data-toggle="modal" data-target=".modal-zoom">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal image zoom -->
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="modal modal-zoom" id="zoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered zoom-modal" role="document">
      <div class="modal-content zoom-modal">
        <div class="modal-body zoom-modal">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <img class="size zoon-out" [src]="image | hasImage" data-dismiss="modal" alt="Imagem do projeto com zoom">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-light-rounded></app-light-rounded>