.dark-blue-bg {
    padding-bottom: 57px;
}

.top {
    padding-top: 15px
}

h1 {
    font-weight: bold;
}

.margin-top {
    margin-top: 65px;
}

.card {
    width: 100%;
    min-height: 400px;
    border-radius: 0px !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.padding {
    padding: 35px;
}

.padding-top {
    padding-top: 35px;
}

h1.contact {
    font-weight: bold;
}

.contact {
    text-transform: uppercase;
}

.line {
    width: 30%;
    height: 4px;
    background: var(--pink);
}

.title {
    font-weight: 600
}

input::placeholder {
    color: #000 !important;
}

.form-control {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #989898 !important;
    border-radius: 0px !important;
    background: transparent !important;
    color: #000 !important;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea::placeholder {
    color: #000 !important;
}

.textarea {
    height: 363px;
    border-left: 1px solid #989898 !important;
    border-bottom: none !important;
    resize: none !important;
    color: #000 !important;
}

.text-form {
    padding-bottom: 0px !important;
}

button {
    font-weight: bold;
    color: #000;
    border-radius: 0px;
    height: 50px;
    background-color: rgba(231, 29, 54, 1);
    border: none !important;
    text-transform: uppercase;
    line-height: 8px;
    border-radius: 25px;
    margin-top: 5.50px;
}

button:hover {
    background-color: rgba(168, 0, 21, 1);
    color: #000;
}

button:active {
    background: var(--pink) !important;
    color: var(--light-gray) !important;
}

button:focus {
    outline: none !important;
}

button:disabled {
    background: transparent !important;
    color: #808080 !important;
    border: #808080 solid 1px !important;
}

.fa-paper-plane {
    font-size: 1.2em;
}

.re-captcha {
    margin-bottom: -30px;
}