<div class="container font-color">
  <div class="row">
    <div class="col-12 margin-top">
      <div routerLink="/admin/about" class="card dark-gray-bg cursor-pointer">
        <div class="card-body">
          <h4>SOBRE <i class="fas fa-caret-right float-right"></i></h4>
        </div>
      </div>
    </div>
    <div class="col-12 margin-top">
      <div routerLink="/admin/timeline" class="card dark-gray-bg cursor-pointer">
        <div class="card-body">
          <h4>EXPERIÊNCIAS <i class="fas fa-caret-right float-right"></i></h4>
        </div>
      </div>
    </div>
    <div class="col-12 margin-top">
      <div routerLink="/admin/skills" class="card dark-gray-bg cursor-pointer">
        <div class="card-body">
          <h4>HABILIDADES <i class="fas fa-caret-right float-right"></i></h4>
        </div>
      </div>
    </div>
    <div class="col-12">
      <br>
      <div routerLink="/admin/posts" class="card dark-gray-bg cursor-pointer">
        <div class="card-body">
          <h4>PROJETOS <i class="fas fa-caret-right float-right"></i></h4>
        </div>
      </div>
    </div>
  </div>
</div>
