.margin-top {
    margin-top: 26px;
}

.card {
    border-color: var(--pink);
}

.card:hover {
    background: var(--pink) !important;
}

h4 {
    margin: 0;
}

.fa-caret-right {
    padding-top: 3px;
}