<div class="light-gray-bg costumize-bg font">
  <div class="container outer">
    <div class="row">
      <div class="col-12">
        <h1 rel="preload" as="fetch" class="text-center pink margin-top">{{ "global.about" | translate | uppercase }}
        </h1>
        <hr class="line-title">
        <br>
      </div>
    </div>

    <ng-container *ngIf="loading; else elseLoading">
      <div class="row text-center">
        <div class="col-12">
          <app-lds-facebook-blue></app-lds-facebook-blue>
        </div>
      </div>
    </ng-container>
    <ng-template #elseLoading>
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="url | hasImage: language" class="card-img" alt="Edson Camargo Menezes, dono do portfólio.">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <ng-container *ngIf="language == 'pt_BR'; else elseEnglish">
                    <h1 [translate]="'about.hi_guys'" [translateParams]="{value: titleBR}" class="hi"></h1>
                    <br>
                    <span [translate]="'about.informations_one'" [translateParams]="{value: descriptionBR}">
                    </span>
                  </ng-container>
                  <ng-template #elseEnglish>
                    <h1 [translate]="'about.hi_guys'" [translateParams]="{value: titleEN}" class="hi"></h1>
                    <br>
                    <span [translate]="'about.informations_one'" [translateParams]="{value: descriptionEN}">
                    </span>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <app-timeline></app-timeline>

  </div>
</div>
<app-light-rounded></app-light-rounded>