<div class="bg font">
  <div class="opacity">
    <div class="container-edited d-flex flex-row align-items-center justify-content-center flex-wrap break">
      <div class="d-flex flex-column group">
        <h1 class="me">
          EDSON CAMARGO</h1>
        <h3 class="work title slide-in-blurred-bottom">{{ "home.title" | translate }}
        </h3>
      </div>
      <div class="box linha-vertical">
      </div>
      <img class="logo" src="../../../../assets/images/Logo HNT3dev - branco (sem fundo).png" alt="">
    </div>
  </div>
</div>