.dark-blue-bg {
    padding-bottom: 26px;
}

.font {
    color: #fff !important;
}

h1 {
    font-weight: bold;
}

.margin-top {
    margin-top: 81px;
}

.skills {
    font-weight: 600;
    text-transform: uppercase;
}

.progress {
    overflow: initial;
    border-radius: 10px;
}

.bg-info {
    background-color: var(--pink) !important;
}

.font-black {
    font-weight: 600;
    color: #fff;
}